<h2>Edit Existing Workout Plan</h2>

<%= form_for @workout_plan, class:'form' do |f| %>
  <div class="mb-3">
    <%= f.label :day, 'Day', class: 'col-form-label' %>
    <%= f.select :day, options_for_select(Date::DAYNAMES, @workout_plan.day), class: 'form-control col-2 d-inline' %>
  </div>
   <ul>
    <%= f.fields_for :workouts do |workout_form| %>
    <% workout_index = workout_form.index || 0 %>
      <li>
        <%= workout_form.label :name, "Workout #{workout_form.index + 1} Name", class: 'col-form-label' %>
        <%= workout_form.text_field :name, class: 'form-control' %>

        <%= workout_form.label :sets, "Workout #{workout_form.index + 1} Sets", class: 'col-form-label' %>
        <%= workout_form.number_field :sets, class: 'form-control' %>

        <%= workout_form.label :reps, "Workout #{workout_form.index + 1} Reps", class: 'col-form-label' %>
        <%= workout_form.number_field :reps, class: 'form-control' %>
      </li>
      
    <% end %>
  </ul>
 
    <br/>
  <%= submit_tag 'Update Workout Info', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', workout_plan_path, class: 'btn btn-secondary' %>
<% end %>